<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div>


<section class="section dashboard">
    <button class="btn custom-btn" (click)="openExpenseModal(currentMonthBudgetObject)">
      Add Expense for This Month
    </button>

    <button
    *ngIf="currentMonthBudget"
    class="btn custom-btn"
    (click)="openIncrementLimitModal()"
  >
    Increment Monthly Limit
  </button>

    <button
    *ngIf="!currentMonthBudget"
    class="btn custom-btn"
    (click)="addBudgetForThisMonth()">
    Add Budget for This Month
  </button>
    <br><br>

  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Budget <span>| This Month</span></h5>
            <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-wallet"></i>
          </div>
          <div class="ps-3">
            <h6>{{ currentMonthBudget ? (currentMonthBudget | currency) : 'N/A' }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-4 col-md-6">
    <div class="card info-card revenue-card">
      <div class="card-body">
        <h5 class="card-title">Spent <span>| This Month</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>{{ currentMonthSpent ? (currentMonthSpent | currency) : 0 }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-4 col-xl-12">
    <div class="card info-card customers-card">
      <div class="card-body">
        <h5 class="card-title">Remaining <span>| This Month</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-pie-chart"></i>
          </div>
          <div class="ps-3">
            <h6>{{ currentMonthRemaining ? (currentMonthRemaining | currency) : 0 }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Current Month Budget Progress</h5>
      <div *ngIf="currentMonthBudget">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [fill]="chartOptions.fill"
          [tooltip]="chartOptions.tooltip">
        </apx-chart>
      </div>
      <div *ngIf="!currentMonthBudget">
        <p>No budget for the current month.</p>
      </div>
    </div>
  </div>


  <div class="card info-card">
    <div class="card-body">
      <h5 class="card-title">Spending by Category <span>| This Month</span></h5>
      <div *ngIf="currentMonthBudgetObject && currentMonthBudgetObject.expenses?.length > 0">
        <apx-chart
          [series]="pieChartOptions.series"
          [chart]="pieChartOptions.chart"
          [labels]="pieChartOptions.labels" 
          [dataLabels]="pieChartOptions.dataLabels"
          [tooltip]="pieChartOptions.tooltip"
          [legend]="pieChartOptions.legend"
        ></apx-chart>
      </div>
      <div *ngIf="!currentMonthBudgetObject || currentMonthBudgetObject.expenses?.length === 0">
        <p>No expenses found for the current budget.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Current Month Expenses</h5>
      <div *ngIf="currentMonthBudgetObject?.expenses?.length > 0; else noExpenses">
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of currentMonthBudgetObject.expenses">
                <td>{{ expense.date | date: 'MMM d, y' }}</td>
                <td>{{ expense.categoryName }}</td>
                <td>{{ expense.amount | currency }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteExpense(expense.id)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ng-template #noExpenses>
        <p>No expenses found for the current month.</p>
      </ng-template>
    </div>
  </div>
      </div>
    </div>
    <div class="col-lg-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Notifications <span>| This Month</span></h5>
        <div class="activity">
          <div *ngFor="let notification of notifications" class="activity-item d-flex">
            <div class="activity-icon">
              <i
                class="bi"
                [ngClass]="{
                  'bi-info-circle text-info': notification.type === 'info',
                  'bi-exclamation-triangle text-warning': notification.type === 'warning',
                  'bi-exclamation-circle text-danger': notification.type === 'danger'
                }"
              ></i>
            </div>
            <div class="activity-content ms-2">{{ notification.message }}</div>
          </div>
        </div>
    
        <div *ngIf="notifications.length === 0">
          <p>No recent notifications.</p>
        </div>
      </div>
    
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Categories</h5>
        <button class="btn custom-btn" (click)="openModal(addCategoryModal)">Add Category</button>

        <table class="table">
          <thead>
            <tr>
              <th>Category Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{ category.name }}</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    </div>
  </div>


</section>

<ng-template #addCategoryModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addCategory()">
      <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="categoryName" [(ngModel)]="newCategory.name" name="name" required />
      </div>
      <button type="submit" class="btn custom-btn">Save</button>
    </form>
  </div>
</ng-template>


<ng-template #addBudgetModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add Budget for {{ getMonthName(newBudget.month) }} {{ newBudget.year }}</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="monthlyLimit" class="form-label">Monthly Limit</label>
        <input type="number" class="form-control" id="monthlyLimit" [(ngModel)]="newBudget.monthlyLimit" name="monthlyLimit" required />
      </div>
      <div class="mb-3">
        <label for="spent" class="form-label">Spent</label>
        <input type="number" class="form-control" id="spent" [(ngModel)]="newBudget.spent" name="spent" required />
      </div>
      <div class="mb-3">
        <label for="month" class="form-label">Month</label>
        <input type="number" class="form-control" id="month" [(ngModel)]="newBudget.month" name="month" min="1" max="12" readonly required />
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="number" class="form-control" id="year" [(ngModel)]="newBudget.year" name="year" readonly required />
      </div>
      <button type="submit" class="btn custom-btn">Save</button>
    </form>
  </div>
</ng-template>


<ng-template #addExpenseModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addExpenseModalLabel">Add Expense</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addExpense()">
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-control" id="category" [(ngModel)]="newExpense.categoryId" name="categoryId" required>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" [(ngModel)]="newExpense.amount" name="amount" required />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="newExpense.date" name="date"
        [min]="minDate" [max]="maxDate" required />      </div>
      <button type="submit" class="btn custom-btn">Save Expense</button>
    </form>
  </div>
</ng-template>

<ng-template #incrementLimitModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Increment Monthly Limit</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="incrementMonthlyLimit()">
      <div class="mb-3">
        <label for="incrementAmount" class="form-label">Amount</label>
        <input
          type="number"
          id="incrementAmount"
          [(ngModel)]="incrementAmount"
          name="incrementAmount"
          class="form-control"
          min="1"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Increment</button>
    </form>
  </div>
</ng-template>

