<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<!-- Display error message -->
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<!-- Display success message -->
<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>

<section class="section dashboard">
    <!-- Button to Add Expense for the Current Month -->
    <button class="btn btn-primary" (click)="openExpenseModal(currentMonthBudgetObject)">
      Add Expense for This Month
    </button>

<div class="row">
  <!-- Left side columns -->
  <div class="col-lg-8">
    <div class="row">
<!-- Current Month Budget Card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Budget <span>| This Month</span></h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-cart"></i>
        </div>
        <div class="ps-3">
          <!-- Check if currentMonthBudget exists and display MonthlyLimit or 'N/A' -->
          <h6>{{ currentMonthBudget ? (currentMonthBudget | currency) : 'N/A' }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Current Month Budget Card -->

<!-- Current Month Spent Card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card revenue-card">
    <div class="card-body">
      <h5 class="card-title">Spent <span>| This Month</span></h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="ps-3">
          <!-- Check if currentMonthSpent is defined and display it -->
          <h6>{{ currentMonthSpent ? (currentMonthSpent | currency) : 0 }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Current Month Spent Card -->

<!-- Current Month Remaining Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card customers-card">
    <div class="card-body">
      <h5 class="card-title">Remaining <span>| This Month</span></h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-people"></i>
        </div>
        <div class="ps-3">
          <!-- Check if currentMonthRemaining is defined and display it -->
          <h6>{{ currentMonthRemaining ? (currentMonthRemaining | currency) : 0 }}</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- End of the 3 cards -->
</div><!-- End Current Month Remaining Card -->

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Current Month Budget Progress</h5>
    <div *ngIf="currentMonthBudget">
      <!-- ApexChart for the budget progress -->
      <apx-chart 
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip">
      </apx-chart>
    </div>
    <div *ngIf="!currentMonthBudget">
      <p>No budget for the current month.</p>
    </div>
  </div>
</div>

<div class="card info-card">
  <div class="card-body">
    <h5 class="card-title">Spending by Category <span>| This Month</span></h5>
    <div *ngIf="currentMonthBudgetObject && currentMonthBudgetObject.expenses?.length > 0">
      <apx-chart
        [series]="pieChartOptions.series"
        [chart]="pieChartOptions.chart"
        [labels]="pieChartOptions.labels" 
        [dataLabels]="pieChartOptions.dataLabels"
        [tooltip]="pieChartOptions.tooltip"
        [legend]="pieChartOptions.legend"
      ></apx-chart>
    </div>
    <div *ngIf="!currentMonthBudgetObject || currentMonthBudgetObject.expenses?.length === 0">
      <p>No expenses found for the current budget.</p>
    </div>
  </div>
</div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Budgets</h5>
          <button class="btn btn-primary" (click)="openModal(addBudgetModal)">Add Budget</button>
  
          <table class="table">
            <thead>
              <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Monthly Limit</th>
                <th>Spent</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let budget of budgets">
                <td>{{ getMonthName(budget.month) }}</td> 
                <td>{{ budget.year }}</td>
                <td>{{ budget.monthlyLimit | currency }}</td> 
                <td>{{ budget.spent | currency }}</td> 
                <td>
                  <button class="btn btn-secondary" (click)="openExpenseModal(budget)">Add Expense</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- End Budget Table -->
    </div>
  </div><!-- End Left side columns -->

  <!-- Right side columns -->
  <div class="col-lg-4">

    <!-- Right side columns -->
<div class="col">

   <!-- Recent Activity -->
   <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Filter</h6>
        </li>
        <li><a class="dropdown-item" href="#">Today</a></li>
        <li><a class="dropdown-item" href="#">This Month</a></li>
        <li><a class="dropdown-item" href="#">This Year</a></li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">Recent Activity <span>| Today</span></h5>

      <div class="activity">

        <div class="activity-item d-flex">
          <div class="activite-label">2 hrs</div>
          <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
          <div class="activity-content">
            Voluptates corrupti molestias voluptatem
          </div>
        </div><!-- End activity item-->
        
      </div>

    </div>
  </div><!-- End Recent Activity -->



  <div class="card">
    <div class="card-body">
      <h5 class="card-title">My Categories</h5>
      <button class="btn btn-primary" (click)="openModal(addCategoryModal)">Add Category</button>

      <table class="table">
        <thead>
          <tr>
            <th>Category Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.name }}</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- End Categories Table -->
</div><!-- End Right side columns -->


  </div><!-- End Right side columns -->
</div>




</section>

<!-- Modal for Adding Category -->
<ng-template #addCategoryModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addCategory()">
      <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="categoryName" [(ngModel)]="newCategory.name" name="name" required />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</ng-template>




<!-- Modal for Adding Budget -->
<ng-template #addBudgetModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addBudgetModalLabel">Add New Budget</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="monthlyLimit" class="form-label">Monthly Limit</label>
        <input type="number" class="form-control" id="monthlyLimit" [(ngModel)]="newBudget.monthlyLimit" name="monthlyLimit" required />
      </div>
      <div class="mb-3">
        <label for="spent" class="form-label">Spent</label>
        <input type="number" class="form-control" id="spent" [(ngModel)]="newBudget.spent" name="spent" required />
      </div>
      <div class="mb-3">
        <label for="month" class="form-label">Month</label>
        <input type="number" class="form-control" id="month" [(ngModel)]="newBudget.month" name="month" min="1" max="12" required />
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="number" class="form-control" id="year" [(ngModel)]="newBudget.year" name="year" required />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</ng-template>


<ng-template #addExpenseModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addExpenseModalLabel">Add Expense</h5>
    <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addExpense()">
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-control" id="category" [(ngModel)]="newExpense.categoryId" name="categoryId" required>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" [(ngModel)]="newExpense.amount" name="amount" required />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="newExpense.date" name="date"
        [min]="minDate" [max]="maxDate" required />      </div>
      <button type="submit" class="btn btn-primary">Save Expense</button>
    </form>
  </div>
</ng-template>
